/* Scss Document */

@charset "UTF-8";
/* CSS Document */

/* font sizes */
$title:134px;
$sub-title:61px;
$sub-title-2:34px;
$paragraph-size:19px;


/* font-family*/
$mainfont: proxima-nova, sans-serif;

/* font weights */
$extra-bold:800;
$normal:400;


.text-format{
	text-align:center;
	color:#fff;
	text-transform:uppercase;
}
h1, h2, h3, h4, h5, h6, p, p.lead {
	font-family:$mainfont;
	font-weight:$extra-bold;
}

p{
	font-weight:$normal;
	font-size:$paragraph-size;
	@extend .text-format;
}

p.lead{
	font-size:$sub-title-2;
}


h1{
	font-size:$title;
	@extend .text-format;
}

h3{
	font-size:$sub-title;
	@extend .text-format;
}

body{
	background-color: #000;
}

a, a:hover, a:visited, a:link{
	color:#fff;
}

#bootstrap-overrides .empty-space-sm{
	margin-top:50px;
}

#bootstrap-overrides .empty-space-lg{
	margin-top:100px;
}

#bootstrap-overrides .jumbotron{
	background:none;
}

#bootstrap-overrides .background-style{
	background: url("../images/LetsRace-012.jpg") no-repeat;
	background-position: 50% 50%;
	background-size: 229%, cover;
	min-height:446px;
	padding-right:0px;

}

#bootstrap-overrides .background-1{
	@extend .background-style;
	background:url('../images/LetsRace-012.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 229%, cover;
}

#bootstrap-overrides .background-2{
	@extend .background-style;
	background:url('../images/sims.jpg') no-repeat;
 	background-position: 50% 50%;
	background-size: 229%, cover;
}

#bootstrap-overrides .background-3{
	@extend .background-style;
	background:url('../images/_MG_4544 copy.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 100%, cover;
}

#bootstrap-overrides .background-4{
	background:url('../images/background-4.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 150%, cover;
	min-height:236px;
	padding-right:0px;
}

#bootstap-overrides .img-container{
	position: relative;
	min-height:446px;
}

#bootstrap-overrides .logo{
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
	width:192px;
 }

#bootstrap-overrides .footer{
	margin-top:100px;
	font-size:$paragraph-size;
	color:#fff;
	text-align:center;
}
