/* Scss Document */
/* CSS Document */
/* font sizes */
/* font-family*/
/* font weights */
.text-format, h3, h1, p {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6, p, p.lead {
  font-family: proxima-nova, sans-serif;
  font-weight: 800;
}

p {
  font-weight: 400;
  font-size: 19px;
}

p.lead {
  font-size: 34px;
}

h1 {
  font-size: 134px;
}

h3 {
  font-size: 61px;
}

body {
  background-color: #000;
}

a, a:hover, a:visited, a:link {
  color: #fff;
}

#bootstrap-overrides .empty-space-sm {
  margin-top: 50px;
}

#bootstrap-overrides .empty-space-lg {
  margin-top: 100px;
}

#bootstrap-overrides .jumbotron {
  background: none;
}

#bootstrap-overrides .background-style, #bootstrap-overrides .background-3, #bootstrap-overrides .background-2, #bootstrap-overrides .background-1 {
  background: url("../images/LetsRace-012.jpg") no-repeat;
  background-position: 50% 50%;
  background-size: 229%, cover;
  min-height: 446px;
  padding-right: 0px;
}

#bootstrap-overrides .background-1 {
  background: url("../images/LetsRace-012.jpg") no-repeat;
  background-position: 50% 50%;
  background-size: 229%, cover;
}

#bootstrap-overrides .background-2 {
  background: url("../images/sims.jpg") no-repeat;
  background-position: 50% 50%;
  background-size: 229%, cover;
}

#bootstrap-overrides .background-3 {
  background: url("../images/_MG_4544 copy.jpg") no-repeat;
  background-position: 50% 50%;
  background-size: 100%, cover;
}

#bootstrap-overrides .background-4 {
  background: url("../images/background-4.jpg") no-repeat;
  background-position: 50% 50%;
  background-size: 150%, cover;
  min-height: 236px;
  padding-right: 0px;
}

#bootstap-overrides .img-container {
  position: relative;
  min-height: 446px;
}

#bootstrap-overrides .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 192px;
}

#bootstrap-overrides .footer {
  margin-top: 100px;
  font-size: 19px;
  color: #fff;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
